---
import Card from "../components/Card.astro";
import Hero from "../components/Hero.astro";
import Base from "../layouts/Base.astro";

const quickLinks = [
  // { text: 'CV', url: '/cv'},
  { text: 'Blog', url: '/blog'},
];

---

<Base title="Welcome to my site!">
  <div class="grid h-screen place-items-center">
    <main class="text-white p-4">
      <Hero>
        <div slot="content">
          <h1 class="mb-4">Hi, Marko here!</h1>
          <p class="text-balance text-left mb-4">
            This is the website with all the various things I do.
          </p>
        </div>

        <div slot="hero">
          <!-- <div class="grid grid-cols-3 grid-rows-3 border border-deep-space-blue-500 rounded-lg">
            <div />
            <div />
            <div />

            <div />
            <div />
            <div />

            <div />
            <p class="border border-b-0 border-deep-space-blue-500 text-center py-2 rounded-t-lg">Software Engineering</p>
            <div />

          </div> -->

          <div class="grid grid-cols-2 grid-rows-2 gap-10">
            {quickLinks.map(({ text, url }) => <a href={url}><Card>{text}</Card></a>)}
          </div>
        </div>
      </Hero>
    </main>
  </div>
</Base>
