---
import Centre from "../layouts/Centre.astro";
---

<Centre title="Stuff my Marko">
  <main>
    <h1>Still making this one :3</h1>
    <p class="instructions">More content coming soon...</p>
  </main>
</Centre>

<style>
  main {
    font-family: monospace;
    text-align: center;
    color: var(--c-black);

    background-color: var(--c-white);

    padding: 2rem;

    box-shadow: 1rem 1rem 0 var(--c-orange);
  }

  main p {
    font-style: italic;
  }
</style>
