---
import Centre from "../layouts/Centre.astro";
---

<Centre title="Stuff my Marko">
  <main>
    <h1>Still making this one :3</h1>
    <p>Live at <a href="https://by-marko.com">by-marko.com</a></p>
    <p class="cursive">More content coming soon...</p>
  </main>
</Centre>

<style>
  main {
    font-family: monospace;
    text-align: center;
    color: var(--c-black);

    background-color: var(--c-white);

    padding: 2rem;

    box-shadow: 1rem 1rem 0 var(--c-orange);
  }

  main p .cursive; {
    font-style: italic;
  }
</style>
