---
import Copyright from "../components/Copyright.astro";
import Hero from "../components/Hero.astro";
// import NavGraph from "../components/NavGraph.astro";
import Socials from "../components/Socials.astro";
import Base from "../layouts/Base.astro";
import lemon from "@/public/favicon.ico"
---

<Base title="Welcome to my site!">
  <div class="min-h-screen flex flex-col">
    <main class="flex-1 min-h-0 grid place-items-center text-white p-4">
      <Hero>
        <div slot="content" class="md:p-6 p-8 border-cool-steel-600">
          <h1 class="mb-8">Hi, Marko here!</h1>
          <div class="text-balance text-xl">
            <p class="mb-4">
              I am
              <a href="https://elnino.tech/">software engineer</a>,
              <a href="https://www.instagram.com/wulvetut/">musician</a>,
              and philosophy enthusiast 
              based in <a href="https://osm.org/go/0GSymdW--?relation=1380244">Enschede, NL</a>.
              I studied computer science and philosophy (ongoing) at <a href="https://www.utwente.nl/">UT</a>,
              and dabble in many other things.
            </p>
            <p class="mb-8">
              I am obsessed with exploring the unfamiliar and connecting ideas from seemingly unrelated domains.
            </p>
            <Socials />
          </div>
        </div>
        
        <div slot="hero" class="grid place-items-center">
          <!-- <NavGraph /> -->
           <img src={lemon} alt="marko's pixel avatar" />
        </div>
      </Hero>
    </main>

    <footer class="mb-2 mt-8 max-w-2/3 m-auto">
      <Copyright class="text-cool-steel-500" />
    </footer>
  </div>
</Base>
