---
import Base from "../layouts/Base.astro";
---

<Base title="Welcome to my site!">
  <div class="grid h-screen place-items-center">
    <main class="text-center text-white">
      <h1 class="mb-4">Welcome to my site!</h1>
      <p class="mb-8">
        This website is in progress, but here are the sections I've got so far
      </p>

      <!-- Gallery of links to other pages -->
      <section class="grid gap-8 grid-cols-3 w-3/4 mx-auto">
        <a href="/bio" class="card">
          <h2>Bio</h2>
          <p class="text-balance">
            This is just a bit about me, will also eventually host my CV.
          </p>
        </a>
        <a href="/blog" class="card">
          <h2>Blog</h2>
          <p>It's a blog.</p>
        </a>
        <a href="/projects" class="card">
          <h2>Projects</h2>
          <p>Gallery of projects I've worked on.</p>
        </a>
      </section>
    </main>
  </div>
</Base>
