<main>
  <slot />
</main>

<style>
    main {
      text-align: center;
      color: var(--c-black);
  
      background-color: var(--c-white);
  
      padding: 2rem;
      box-shadow: 1rem 1rem 0 var(--c-orange);
    }
  
    main p .cursive; {
      font-style: italic;
    }
  </style>