---
import { Font } from "astro:assets";
import "../styles/global.css";

interface Props {
  title: string | undefined;
  frontmatter?: Record<string, any> | undefined;
}

const { title, frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en-GB">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/ico" href="/favicon.ico" />

    <link rel="me" href="https://toot.community/@itsamarko">

    <Font cssVariable="--font-nanum-myeongjo" preload />
    <Font cssVariable="--font-nanum-gothic-mono" preload />
    <Font cssVariable="--font-nanum-gothic" preload />

    <meta name="generator" content={Astro.generator} />
    <title>{title ?? frontmatter?.title}</title>
  </head>
  <body class="min-h-screen flex flex-col">
    <slot />
  </body>
</html>
