---
import Card from "../components/Card.astro";
import Base from "./Base.astro";

interface Props {
  title?: string;
  frontmatter?: Record<string, any>;
}

const { title, frontmatter } = Astro.props;
---

<Base title={title} frontmatter={frontmatter}>
  <div class="h-dvh grid place-items-center">
    <Card>
      <slot />
    </Card>
  </div>
</Base>
