---
import Socials from "../components/Socials.astro";
import Copyright from "../components/Copyright.astro";
import Base from "./Base.astro";

interface Props {
  title?: string;
  frontmatter?: Record<string, any>;
}

const { title, frontmatter } = Astro.props;
const sections = [
  { title: "home", href: "/" },
  // { title: "bio", href: "/bio" },
  { title: "blog", href: "/blog" },
  // { title: "projects", href: "/projects" },
];
---

<Base title={title} frontmatter={frontmatter}>
  <header
    class="font-mono sticky top-0 bg-black md:w-3/4 flex mx-auto px-4 py-2 justify-between text-white border-b border-white items-center"
  >
    <p class="font-bold">marko's site</p>
    <nav class="hidden md:flex gap-6">
      {
        sections.map(({ title, href }) => (
          <a href={href} class="text-white hover:text-yellow">
            {title}
          </a>
        ))
      }
    </nav>
    <!-- <button
      class="bg-white hover:bg-orange rounded-xs sha py-1 px-2 text-black"
    >
      say hi
    </button> -->
  </header>
  <main class="md:w-3/4 mx-auto px-4 py-2 text-white">
    <slot />
  </main>
  <footer class="font-mono w-full md:w-3/4 mx-auto px-4 py-2 text-white mt-auto">
    <hr class="border-1 border-cool-steel-500">
    <div class="flex justify-between my-4 gap-4">
      <Copyright />
      <a href="/">Home</a>
      <Socials />
    </div>
  </footer>
</Base>

